<% provide(:title, "Editar Usuário") %>
<h1>Atualize seu perfil</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmação" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Salvar alterações", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">trocar</a>
    </div>
  </div>
</div>