<p id="notice"><%= notice %></p>

<h1>Imagens</h1>

<table class='table'>
  
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data upload</th>
      <th>Tamanho</th>
      <th>Galeria</th>
      <th>Tags</th>
      <th>Público</th>
      <th>Imagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imagems.each do |imagem| %>
      <tr>
        <td><%= imagem.nome %></td>
        <td><%= imagem.created_at %></td>
        <td><%= imagem.tamanho.round(2) %> MB</td>
        <td><%= @hgaleria[imagem.id_galeria] %></td>
        <td><%= @htags[imagem.id] %></td>
        <td><%= imagem.publico %></td>
        <td><%= image_tag imagem.url, size: "300x200"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Imagem', new_imagem_path %>
