<%= form_for(galerium) do |f| %>
  <% if galerium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(galerium.errors.count, "error") %> prohibited this galerium from being saved:</h2>

      <ul>
      <% galerium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :id_usuario %>
    <%= f.text_field :id_usuario %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
