<p id="notice"><%= notice %></p>

<h1>Galeria</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Nome</th>
      <!--<th>Id usuario</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @galeria.each do |galerium| %>
      <tr>
        <td><%= galerium.nome %></td>
        <!--<td>< %= galerium.id_usuario %></td>-->
        <td><%= link_to 'Show', galerium %></td>
        <td><%= link_to 'Edit', edit_galerium_path(galerium) %></td>
        <td><%= link_to 'Destroy', galerium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Galerium', new_galerium_path %>
